<h1>Cookie Policy</h1>
<p>Questa Cookie Policy descrive come utilizziamo i cookie sul nostro sito web e le scelte a tua disposizione per
  gestirli.</p>

<h2>1. Cosa Sono i Cookie?</h2>
<p>I cookie sono piccoli file di testo che vengono memorizzati sul tuo dispositivo quando visiti il nostro sito web.
  Questi cookie permettono al sito di riconoscerti e memorizzare informazioni sulle tue preferenze.</p>

<h2>2. Tipologie di Cookie Utilizzati</h2>
<p>Il nostro sito utilizza i seguenti tipi di cookie:</p>
<ul>
  <li><strong>Cookie tecnici:</strong> Sono essenziali per il corretto funzionamento del sito e non richiedono il tuo
    consenso.</li>
  <li><strong>Cookie di analisi:</strong> Utilizzati per raccogliere informazioni sull'utilizzo del sito da parte degli
    utenti, come la frequenza delle visite e le pagine più visitate.</li>
  <li><strong>Cookie di profilazione:</strong> Utilizzati per tracciare le tue preferenze e personalizzare la tua
    esperienza di navigazione.</li>
</ul>

<h2>3. Come Gestire i Cookie</h2>
<p>Puoi gestire i cookie direttamente dalle impostazioni del tuo browser. È possibile disabilitare i cookie, ma alcune
  funzionalità del sito potrebbero non essere disponibili.</p>

<h2>4. Come Disabilitare i Cookie</h2>
<p>Puoi disabilitare i cookie attraverso le impostazioni del tuo browser. Ogni browser ha una procedura diversa, quindi
  consulta le istruzioni specifiche del tuo browser per capire come fare.</p>

<h2>5. Consenso</h2>
<p>Utilizzando il nostro sito web, acconsenti all'uso dei cookie come descritto in questa Cookie Policy. Puoi cambiare
  le tue preferenze in qualsiasi momento.</p>

<h2>6. Contatti</h2>
<p>Per maggiori informazioni sulla nostra politica sui cookie, puoi contattarci all'indirizzo e-mail: <a
    href="mailto:info@tusito.it">info@tusito.it</a></p>

<p>Ultimo aggiornamento: Marzo 2025</p>