
<h1>Informativa sulla Privacy</h1>
<p>La tua privacy è importante per noi. Questa informativa sulla privacy descrive come raccogliamo, utilizziamo, proteggiamo e trattiamo le informazioni personali quando utilizzi il nostro sito web.</p>

<h2>1. Dati raccolti</h2>
<p>Raccogliamo le seguenti informazioni personali quando utilizzi il nostro sito web:</p>
<ul>

</ul>

<h2>2. Utilizzo dei Dati</h2>
<p>I tuoi dati personali vengono utilizzati per i seguenti scopi:</p>
<ul>
  <li>Fornire i servizi richiesti</li>
  <li>Gestire la registrazione e il login al sito</li>
  <li>Comunicare con te riguardo aggiornamenti e novità</li>
</ul>

<h2>3. Conservazione dei Dati</h2>
<p>I tuoi dati saranno conservati per il tempo necessario per il trattamento degli scopi per cui sono stati raccolti, salvo diversa disposizione di legge.</p>

<h2>4. Sicurezza dei Dati</h2>
<p>Adottiamo misure di sicurezza tecniche e organizzative per proteggere i tuoi dati personali da accessi non autorizzati, perdita o divulgazione.</p>

<h2>5. Diritti dell'utente</h2>
<p>Hai il diritto di accedere, correggere o cancellare i tuoi dati personali in qualsiasi momento. Puoi anche opporti al trattamento o richiedere una limitazione dell'elaborazione dei tuoi dati.</p>

<h2>6. Contatti</h2>
<p>Per qualsiasi domanda riguardante il trattamento dei tuoi dati personali, puoi contattarci all'indirizzo e-mail: <a href="mailto:info@tusito.it">info@tusito.it</a></p>

<p>Ultimo aggiornamento: Marzo 2025</p>